@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #47566b;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2f3947;
}

@font-face {
    font-family: 'Toxigenesis';
    src: url(".\assets\fonts\toxigenesis bd.otf");
}

@font-face{
    font-family: 'SF-Pro';
    src: url("./assets/fonts/SF-Pro.ttf");
}